@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --animation-curve: cubic-bezier(1, 0, 0, 1);
    /* //cubic-bezier(0.68, -0.6, 0.32, 1.6); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    /* font-family: 'pp-telegraf', sans-serif; */
    font-family: "pp-telegraf-3", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: min-content;
}

.borders {
    background-color: black;
}

.NavbarItems {
    background-color: #e3eaf4;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    margin-right: auto;
}

.navbar-logo {
    color: black;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
}


/* .nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
} */

.fa-bars {
    color: black;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: white;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        color: black;
        font-size: 2rem;
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #4ad9e4;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover {
        background: #fff;
        transition: 250ms;
    }
    /* .btn {
        display: none;
        padding: 13px 26px;
    } */
}